@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.modal__container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.485);
  z-index: 100;
}
.cart__container {
  top: 0;
  left: 0;
  overflow: scroll;
  height: 100%;
  width: 500px;
  background-color: white;
  border: 1px solid orange;
  position: fixed;
  z-index: 150;
  gap: 15px;
}

.cart__info {
  font-size: 2rem;
}
.cart__wraper {
  width: 100%;
  height: 200px;
}
.product__container {
  margin: 20px 0;
  font-family: "Roboto";
  width: 100%;
  height: 200px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__container img {
  border-radius: 20px;
  width: 300px;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.cart__data {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cart__data h1 {
  text-align: center;
  width: 100%;
  height: 100px;
}

.delete__btn {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: normal;
  outline: none;
  overflow: hidden;
  padding: 17px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.1s;
  user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete__btn:hover {
  background-color: #14d966;
}
.total {
  color: white;
  background-color: black;
  text-align: center;
  font-size: 2rem;
  padding: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
