/* Container for backdrop */
:root {
  --image--width: 850px;
  --image--height: 850px;
}

.container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 600;
}

.imageContainer {
  z-index: 600;
  width: var(--image--width);
  height: var(--image--height);
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: calc(var(--image--height) / -2);
  margin-top: calc(var(--image--height) / -2);
}
.imageContainerData {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  object-fit: fill;
}
