:root {
  --prod-container: 330px;
}

.wraper {
  width: 500px;
  min-height: var(--prod-container);
  background-color: white;
  border: 2px solid orange;
  border-radius: 10px;
}
.product__card {
  width: 100%;
  height: var(--prod-container);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.product__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product__card img {
  cursor: pointer;
  min-width: 250px;
  height: var(--prod-container);
  border-radius: 10px;
  object-fit: contain;
  border-right: 2px solid orange;
}
.description {
  text-align: center;
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-family: "Roboto";
}
.price {
  text-align: center;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-family: "Roboto";
}
.add_to_cart_btn {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: normal;
  outline: none;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.1s;
  user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin: 3px;
}
.add_to_cart_btn:hover {
  background-color: #14d966;
}
